node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!/apps/worker/.env.local.example
!/apps/worker/.env.prod.example
.nitro
.tanstack
.wrangler
.direnv

sandbox
.reference
.workspace
.playwright-cli

.wrangler
.dev.vars*
.tasks
